<mat-drawer-container class="drawerContainer" ngSkipHydration>
  <mat-drawer class="actualDrawer" mode="side" opened>
    <button
      mat-stroked-button
      [middleClickRedirect]="navService.sealedUrl"
      (click)="goToSealedPage()"
      class="sidenavBtn"
    >
      Sealed
    </button>
    <button
      mat-stroked-button
      [middleClickRedirect]="navService.singlesUrl"
      (click)="goToSinglePage()"
      class="sidenavBtn"
    >
      Singles
    </button>
    <mat-divider class="sidenavBtn"></mat-divider>
    <button
      mat-stroked-button
      [middleClickRedirect]="navService.ownedUrl"
      (click)="goToMyCardsPage()"
      class="sidenavBtnAccent"
    >
      My Cards
    </button>
    <mat-divider class="sidenavBtn"></mat-divider>
    <button
      mat-stroked-button
      [middleClickRedirect]="navService.scrapingUrl"
      (click)="goToScrapingCenter()"
      class="sidenavBtn"
    >
      Scrapings
    </button>
  </mat-drawer>
  <mat-drawer-content class="matDrawerContent">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
