.drawerContainer {
  width: 100%;
  height: calc(100vh - 64px) !important;
  --mdc-outlined-button-label-text-color: #079191 !important;
  .matDrawerContent {
    margin-left: 11.5rem;
  }

  .actualDrawer {
    padding: 2.5rem 1.3rem;
    border-right-color: rgba(218, 229, 228, 0.39);
    border-radius: 0;
    font-size: 13px;
  }

  .sidenavBtn {
    margin-bottom: 1rem;
  }
  .sidenavBtnAccent {
    margin-bottom: 1rem;
    color: rgb(172, 124, 70) !important;
  }
  .mat-drawer-inner-container {
    display: flex !important;
    flex-direction: column !important ;
  }
}
