@use "sass:color";

$toolbar-color: #004f4f;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgb(218, 229, 228);
  --mat-sidenav-container-width: 11.5rem;
}

.successSnackbar {
  .mat-mdc-snackbar-surface {
    background-color: var(--mat-snack-bar-button-color) !important;
    color: white !important;
    .mdc-button {
      background-color: #ffffffb6 !important;
      font-size: 0.82rem;
      height: 1.8rem;
      border-radius: 5px;
    }
    .mdc-button:hover {
      opacity: 0.7;
    }
  }
}

.errorSnackbar {
  .mat-mdc-snackbar-surface {
    background-color: rgb(143, 41, 41) !important;
    color: white !important;
    .mdc-button {
      background-color: #ffffffb6 !important;
      font-size: 0.82rem;
      height: 1.8rem;
      border-radius: 5px;
      color: rgb(143, 41, 41) !important;
    }
    .mdc-button:hover {
      opacity: 0.7;
    }
  }
}

//Scrollbar
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(183, 194, 193);
}
::-webkit-scrollbar-thumb {
  background: $toolbar-color;
  &:hover {
    background: rgba($toolbar-color, 0.8);
  }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
