@use "../../styles.scss" as *;

.toolbarContainer {
  background-color: $toolbar-color !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.7rem;

  .redirecHome {
    margin-left: 0.7rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .toolbarImage {
    cursor: pointer;
  }

  .rightSideToolbarContainer {
    display: flex;
  }

  .iconProfile {
  }

  .toolbarProfileContainer {
    cursor: pointer;
  }
}
