<mat-toolbar [color]="'primary'" class="toolbarContainer">
  <img
    (click)="redirectHome()"
    [middleClickRedirect]="navService.pageRouteEnum.DEFAULT"
    src="assets/app-logo.png"
    width="30px"
    height="30px"
    class="toolbarImage"
  />
  <span
    (click)="redirectHome()"
    [middleClickRedirect]="navService.pageRouteEnum.DEFAULT"
    class="redirecHome"
    >Poke Trend Radar</span
  >
  <div class="rightSideToolbarContainer">
    <div (click)="togglePopup()" class="mr-5">
      <i class="material-icons">notifications</i>
    </div>
    <div
      (click)="redirectProfileSection()"
      [middleClickRedirect]="navService.pageRouteEnum.PROFILE_SECTION"
      class="toolbarProfileContainer"
    >
      <span>Statistics </span>
      <mat-icon class="statsIcon">query_stats</mat-icon>
    </div>
  </div>
</mat-toolbar>
