<mat-toolbar
  [color]="'primary'"
  class="toolbarContainer d-flex align-items-center justify-content-between"
>
  <img
    (click)="redirectHome()"
    [middleClickRedirect]="navService.pageRouteEnum.DEFAULT"
    src="assets/app-logo.png"
    width="30px"
    height="30px"
    class="toolbarImage"
  />
  <span
    (click)="redirectHome()"
    [middleClickRedirect]="navService.pageRouteEnum.DEFAULT"
    class="redirecHome"
    >Poke Trend Radar</span
  >
  <div class="rightSideToolbarContainer d-flex align-items-center">
    <div
      (click)="toggleDropdown()"
      class="notificationContainer d-flex mr-4 p-2"
    >
      <mat-icon
        class="iconNotification"
        [matBadge]="recentNotifications.length"
        [matBadgeHidden]="
          recentNotifications.length == 0 || areNotificationsChecked == true
        "
        [matBadgeSize]="'small'"
      >
        notifications
      </mat-icon>
      <div class="container dropdown d-flex flex-column" *ngIf="dropdownOpen">
        <div
          *ngFor="let n of lastFourNotifications"
          class="notificationItem row d-flex align-items-center justify-content-between"
          (click)="goToNotificationPage()"
        >
          <span class="notificationEl col-4"
            ><b>{{ n.title }}</b></span
          >
          <span class="notificationEl col-5">{{ n.message }}</span>
          <span class="notificationEl col-3 d-flex justify-content-end">{{
            n.timestamp | date : "shortTime"
          }}</span>
        </div>
        <span (click)="goToNotificationPage()" class="seeAll mt-2">
          Open Notification Center
        </span>
      </div>
    </div>
    <div
      (click)="redirectProfileSection()"
      [middleClickRedirect]="navService.pageRouteEnum.PROFILE_SECTION"
      class="toolbarProfileContainer d-flex align-items-center"
    >
      <span>Statistics </span>
      <mat-icon class="statsIcon">query_stats</mat-icon>
    </div>
  </div>
</mat-toolbar>
