@use "../../styles/variables" as vars;

.toolbarContainer {
  background-color: vars.$toolbar-color !important;
  padding-left: 1.7rem;

  .redirecHome {
    margin-left: 0.7rem;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .toolbarImage {
    cursor: pointer;
  }

  .rightSideToolbarContainer {
    cursor: pointer;

    .notificationContainer {
      position: relative;
      .iconNotification {
        &:hover {
          opacity: 0.7;
        }
      }
      .dropdown {
        position: absolute;
        top: 37px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.68);
        backdrop-filter: blur(12px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        width: 400px;
        z-index: 10;
        padding: 8px;
        color: black;

        .notificationItem {
          font-size: 0.9rem;
          padding: 4px 0;
          border-bottom: 1px solid rgb(63, 63, 63);
          margin-right: -4px !important;
          margin-left: -4px !important;
          cursor: pointer;
          &:hover {
            background-color: #f7f7f7;
          }
          .notificationEl {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .seeAll {
          font-size: 0.94rem;
        }
      }
    }

    .toolbarProfileContainer {
      cursor: pointer;
      border: 1px solid white;
      border-radius: 12px;
      padding: 4px 9px;
      font-size: 0.94rem;
      &:hover {
        opacity: 0.7;
      }
      .statsIcon {
        margin-left: 0.5rem;
        font-size: 1rem;
        height: 1rem;
        width: 1rem;
      }
    }
  }
}
