.productDetailsContainer {
  padding: 1rem;

  .productOverview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    background-color: rgb(0 221 221 / 32%);
    border-radius: 50px;
    margin: 0 7rem;
  }

  .imageContainer {
    padding-right: 1.2rem;
  }

  .img{
    border-radius: 7px;
    max-height: 20rem;
    min-height: 15rem;
  }

  .productInfoContainer{
    padding-left: 1.2rem;
    min-width: 25rem;
    max-width: 42rem;
  }

  .pForDetails{
    max-width: 25rem;
    display: flex;
    justify-content: space-between;
  }
}
