<div class="productDetailsContainer">
  <div *ngIf="loading">Loading product details...</div>
  <div *ngIf="error">{{ error }}</div>

  <div *ngIf="productDetails">
    <div class="productOverview">
      <div class="imageContainer">
        <img
          *ngIf="productDetails.image"
          [src]="'data:image/png;base64,' + productDetails.image"
          alt="Product Image"
          class="img"
        />
      </div>
      <div class="productInfoContainer">
        <p style="font-size: 1.7rem; font-weight: 500; padding-bottom: 1rem">
          {{ productDetails.title }}
        </p>
        <p class="pForDetails" *ngIf="productDetails.product_type == 'Singles'">
          <strong>Card Number: </strong> {{ productDetails.card_number }}
        </p>
        <p class="pForDetails" *ngIf="productDetails.product_type == 'Singles'">
          <strong>Set: </strong> {{ productDetails.set_name }}
        </p>
        <p class="pForDetails">
          <strong>Language: </strong>
          <img
            *ngIf="productDetails.language == '5'"
            src="assets/flagItaly.png"
            width="20px"
            height="20px"
          />
          <img
            *ngIf="productDetails.language == '2'"
            src="assets/flagFrance.png"
            width="20px"
            height="20px"
          />
          <img
            *ngIf="productDetails.language == '1'"
            src="assets/flagEnglish.png"
            width="20px"
            height="20px"
          />
        </p>
        <p class="pForDetails" *ngIf="productDetails.product_type == 'Singles'">
          <strong>Condition: </strong>
          {{ productDetails.condition == "2" ? "NM" : "notNM" }}
        </p>
        <p class="pForDetails">
          <strong>Total Availability: </strong>
          {{ totalAvailability }}
        </p>
        <p class="pForDetails">
          <strong>Availability: </strong>
          {{ productDetails.current_availability }}
        </p>
        <p class="pForDetails">
          <strong>Min Price: </strong>
          {{ productDetails.current_min_price }}€
        </p>
      </div>
    </div>
    <div class="diagramContainer">
      <app-product-chart [productDetails]="productDetails"></app-product-chart>
    </div>
  </div>
</div>
