<div class="singlesPageContainer">
  <div *ngIf="loading">Loading product details...</div>
  <div *ngIf="error">{{ error }}</div>

  <div *ngIf="singlesProducts != undefined && singlesProducts.length > 0">
    <app-filters-bar
      [filtersType]="'Singles'"
      [placeholderText]="'Search singles products...'"
      [filters]="[
        { label: 'Lowest Price', value: 'low' },
        { label: 'Highest Price', value: 'high' }
      ]"
      (searchEvent)="handleSearch($event)"
      (filterEvent)="handleFilter($event)"
    ></app-filters-bar>
    <mat-grid-list cols="6" rowHeight="360px" class="gridListContainer">
      @for (prod of singlesProducts; track prod) {
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="cardContainer" appearance="outlined">
          <mat-card-header class="cardHeader">
            <mat-card-title
              class="cardTitle"
              [middleClickRedirect]="navService.buildUrlForInternalRedirectToDetails(prod.id_url)"
              (click)="navigateToDetails(prod.id_url)"
            >
              {{ prod.title }}<br>
              <span class="subTitleSpan">{{ prod.set_name }}</span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="cardContent">
            <img
              *ngIf="prod.image"
              [src]="'data:image/png;base64,' + prod.image"
              alt="Product Image"
              class="imageContainer"
              [middleClickRedirect]="navService.buildUrlForInternalRedirectToDetails(prod.id_url)"
              (click)="navigateToDetails(prod.id_url)"
            />
            <p class="prodParam">Min: {{ prod.current_min_price }}€</p>
            <div class="qtyContent">
              <span class="prodParam">
                Qty: {{ prod.current_availability }}
              </span>
              <img
                *ngIf="prod.language == '5'"
                src="assets/flagItaly.png"
                width="20px"
                height="20px"
              />
              <img
                *ngIf="prod.language == '2'"
                src="assets/flagFrance.png"
                width="20px"
                height="20px"
              />
              <img
                *ngIf="prod.language == '1'"
                src="assets/flagEnglish.png"
                width="20px"
                height="20px"
              />
            </div>
          </mat-card-content>
          <mat-card-footer class="footerContainer">
            <button
              mat-stroked-button
              [middleClickRedirect]="prod.id_url"
              [isExternalUrl]="true"
              (click)="redirectCM(prod.id_url)"
              class="redirectBtn"
            >
              Link CM
            </button>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
      }
    </mat-grid-list>
  </div>
</div>
